################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Trade.ConsoleApp/bin/Debug/netcoreapp3.1
/Trade.Tests/bin/Debug/netcoreapp3.1
